# Virtual environment
venv/
.env/
.venv/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log
staticfiles/
media/

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

# Node/Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/build/
frontend/coverage/
